.banner-principal-decorativo
  &-1
    position: absolute
    top: 28%
    right: 40%
    width: 80px
    animation: orbitPerfect 12s linear infinite
    
  &-2
    position: absolute
    top: 82%
    right: 84%
    width: 80px
    animation: orbitPerfect 12s linear infinite
    
  &-3
    position: absolute
    top: 65%
    right: 5%
    width: 80px
    animation: orbitPerfect 12s linear infinite

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 11%
      right: 40%
      width: 100px
    &-2
      top: 77%
      right: 84%
      width: 100px
    &-3
      top: 58%
      right: 2%
      width: 100px

@keyframes orbitPerfect
  from
    transform: rotate(0deg) translateX(12px) rotate(0deg)
  to
    transform: rotate(360deg) translateX(12px) rotate(-360deg)
    
.banner-principal .tarjeta
  background-position: left 50% !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-acento-contenido !important
  
.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

.banner-principal__row .banner-principal__img
  width: 510px !important
  padding-top: 5rem !important
  padding-bottom: 0 !important
  @media screen and (max-width: $bp-max-xl)
    padding-top: 10rem !important
    padding-bottom: 0 !important
    width: 400px !important

.banner-principal .tarjeta
  background-position: left 50% !important
  @media screen and (max-width: 769px)
    background-image: url(../assets/curso/portada/fondo-banner-principal-sm.png) !important
  @media screen and (max-width: 430px)
    background-image: url(../assets/curso/portada/fondo-banner-principal-xs.png) !important

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto !important

.banner-interno__titulo__icono i
  color: $white

.banner-interno__titulo__icono 
  background: $color-primario

.banner-interno__titulo h2
  color: $color-sistema-texto
 
.barra-avance__boton--regresar span
  color: $color-sistema-texto !important

figcaption
  font-weight: normal

// factores-slider custom-slider
.factores-slider, .custom-slider
  &__icon 
    max-height: 93px
  .slyder-f
    align-items: center
    justify-content: center
    gap: 0
  .slyder-f__btn
    background-color: $color-acento-botones
    height: 42px
    width: 42px
    min-width: 42px
    border-radius: 50%
    padding: 0 !important
    transition: transform 0.3s
    z-index: 100
    
    &:hover
      transform: scale(1.1)
    .fa-chevron-left, .fa-chevron-right
      font-size: 1.5rem
    &.ps-3
      margin-left: 7px
      @media (max-width: 1024px)
        margin-left: 7px
    &.pe-3
      margin-right: 7px
      @media (max-width: 1024px)
        margin-right: 7px

// acordion
.acordion__activo
  background-color: $color-acento-contenido-10
  background-repeat: no-repeat
  background-size: cover 
  background-position: center
  overflow: hidden 
.acordion__contenido 
  padding-left: 3.5rem
.acordion__accion__btn--a
  background-color: $color-acento-botones

// Tabla a 
.tabla-a thead
  border-top: 10px $color-primario solid
  color: $color-sistema-a
  background-color: $color-primario-10

.bg-table-01
  border-top: 10px $color-primario solid
  background-color: $color-primario-10
  color: $color-sistema-texto
  font-weight: bold
  font-size: 1.2rem






// Fondos 
.bg_img
  &_1
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody, .subtitulo-destacado
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/introduccion/img_1.svg') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none
  &_2
    position: relative
    h1, h2, h3, h4, h5, h6, p, separador, figure, .tarjeta, .titulo-segundo, .titulo-sexto, .div, .row, .tabla-a, table, caption, thead, tbody, .subtitulo-destacado
      position: relative
    &::before
      content: ''
      position: absolute
      margin: 0
      top: 0px
      left: -48px
      width: calc(100% + 96px)
      height: 100%
      background-image: url('../assets/curso/tema1/img_3.svg') !important
      background-repeat: no-repeat
      background-size: cover 
      background-position: center
      overflow: hidden 
      pointer-events: none